# General lock files.
*.lock

# LibreOffice lock files
.~lock*

# Miscellaneous working files.
scratch/
map_builder/pins_data.json
map_builder/starrupture_map_filled.png
map_builder/*_redux.py

# Python temp files
**/__pycache__/
.venv/

# Visual Studio Code files
.vscode/

# Copied files
*?([0-9])*
*.orig



